#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.skillDesc {
  font-size: 1rem;
  font-weight: 300;
  max-width: 50rem;
  padding: 0 2rem;
  margin: 7px 0px;
}

.h2 {
  color: white;
}

.skillBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.skillBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}

.skillBarImg {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  padding-top: 2rem;
}

.skillBarText > p {
  font-weight: 200;
  font-size: 0.9rem;
  margin: 10px 0px;
}

@media screen and (max-width: 720px) {
  .skillBarText > p {
    font-size: 2vw;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .skillBarText > p {
    font-size: 3vw;
  }
  .skillBarImg {
    /* height: 2.25rem;
    width: 2.25rem; */
    display: none;
  }
  .skillBarText > h2 {
    font-size: 5vw;
  }
  #allbg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../../assets/all4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #djangobg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../../assets/django.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #apibg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../../assets/api2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #deploybg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../../assets/deployment2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #gitbg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../../assets/gitbaby2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #vercelbg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../../assets/vercel.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #securitybg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../../assets/security2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #collabobg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../../assets/partner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #troublebg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../../assets/trouble.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}
