#intro {
  min-height: calc(100vh - 5rem);
  width: 100%;
  max-width: 75rem;
  margin: 2rem auto;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
}

.bg {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  z-index: 0;
  object-fit: contain;
  max-height: 85vh;
  max-width: 45%;
  border-radius: 25%;
}

.introContent {
  height: auto;
  width: 50%;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
  color: black;
}

.introText {
  color: black;
}

.introName {
  color: #007bff;
}

.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
  color: black;
}

.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn:hover {
  color: black;
  background: yellow;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btnhire {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 0 0.25rem;
  padding: 0 2px;
  color: black;
}

.hiire {
  color: black;
}

@media screen and (max-width: 840px) and (min-width: 769px) {
  .introContent {
    width: 60%;
    font-size: 7vw;
  }
  .hello {
    font-size: 4.5vw;
  }
  .bg {
    max-width: 40%;
  }
}

@media screen and (max-width: 768px) and (min-width: 482px) {
  .introContent {
    width: 100%;
    font-size: 7vw;
    padding-top: 2rem;
    z-index: 1;
  }
  .bg {
    opacity: 0.3;
    max-width: 70%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

@media screen and (max-width: 480px) and (min-width: 424px) {
  .bg {
    opacity: 0.3;
    max-width: 80%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .introContent {
    width: 100%;
    font-size: 8vw;
    padding-top: 2rem;
    z-index: 1;
  }
}

@media screen and (max-width: 425px) and (min-width: 376px) {
  .bg {
    opacity: 0.3;
    max-width: 90%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .introContent {
    width: 100%;
    font-size: 7vw;
    padding-top: 2rem;
    z-index: 1;
  }
}

@media screen and (max-width: 375px) and (min-width: 321px) {
  .bg {
    opacity: 0.3;
    max-width: 90%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .introContent {
    width: 100%;
    font-size: 9vw;
    padding-top: 2rem;
    z-index: 1;
  }
}

@media screen and (max-width: 320px) and (min-width: 1px) {
  .bg {
    opacity: 0.3;
    max-width: 95%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .introContent {
    width: 100%;
    font-size: 5vw;
    padding-top: 2rem;
    z-index: 1;
  }
}
