.footer {
  width: 100vw;
  height: 4rem;
  background: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: small;
}

.yosi {
  color: yellow;
  padding: 0 0.5rem;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 50px;
  height: 50px;
}

.totop {
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  object-fit: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
